@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body {
  font-family: verdana, sans-serif;
  font-size: 16px;
  background: #C6DEE9;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
header#main-header {
  margin-bottom: 1em;
  background: black;
}
header#main-header h1 {
  font-family: "Adelle", serif;
  font-weight: 700;
  font-size: 2em;
  padding: 1em;
  color: white;
}
header#main-header p {
  color: white;
  float: left;
  display: none;
}
#main,
#other {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *zoom: 1;
  margin-bottom: 1em;
}
#main:before,
#other:before,
#main:after,
#other:after {
  content: "";
  display: table;
}
#main:after,
#other:after {
  clear: both;
}
hr {
  border: none;
  background: black;
  height: 1px;
  margin-top: 1.5em;
}
a.more-link {
  display: block;
  text-decoration: none;
  width: auto;
  background: #CCC;
  margin-top: 1em;
  padding-top: .65em;
  padding-bottom: .65em;
  text-align: center;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
a.more-link:hover {
  background: #B6B6B6;
}
/* Posts */
.post-entry {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background: #fff;
  margin-bottom: 20px;
}
.post-entry a {
  color: #0491C9;
}
.post-entry p {
  color: #222;
  font-size: 0.875em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.post-entry p strong {
  font-weight: bold;
}
.post-entry h2 {
  font-family: "Adelle", serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #666;
  margin-bottom: .5em;
}
.post-entry h2 a {
  color: black;
  text-decoration: none;
  line-height: 1.4em;
}
.post-entry img {
  width: 100%;
  margin-bottom: 1em;
}
.post-entry .post-content a {
  text-decoration: none;
}
.post-entry .post-date,
.post-entry .meta {
  font-size: .75em;
}
.post-entry .post-date p span,
.post-entry .meta p span {
  text-transform: uppercase;
}
.post-entry .meta a {
  text-decoration: none;
}
.post-entry {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.post-entry .post-wrapper {
  padding: 2em;
}
@media screen and (min-width: 720px) {
  /* main column & sidebar */
  body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
  html,
  body {
    background: none;
  }
  #main {
    display: inline;
    float: left;
    width: 64.58333333333334%;
    margin: 0 1.0416666666666665%;
  }
  #other {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
  /* Posts */
  .post-entry {
    display: inline;
    float: left;
    width: 96.875%;
    margin: 0 1.5625%;
    margin-bottom: 1em;
  }
  .post-entry .post-wrapper {
    display: inline;
    float: left;
    width: 71.875%;
    margin: 0 1.5625%;
    margin-left: 9.374999999999998%;
  }
  #back-to-top-link,
  #nav-link {
    display: none;
  }
  #page-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../images/test-bg2.jpg') repeat-x;
  }
}
