@import 'reset.css';
@import 'grid.less';


//////////
// GRID //
//////////

@columns: 12;
@column-width: 60;
@gutter-width: 20;

@total-width: 100%;



////////////
// MIXINS	 //
////////////
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/////////////////
// NARROW SITE //
/////////////////
html,body {
	font-family:verdana,sans-serif;
	font-size:16px;
	background: #C6DEE9;
}

header#main-header {
	margin-bottom: 1em;
	background: black;
	h1 {
		font-family: "Adelle",serif;
		font-weight:700;
		font-size: 1.4em;
		color: white;
		padding-left:2em;
		padding-top:.75em;
		padding-bottom:.75em;
	}
	p {
		color:white;
		float:left;
		display:none; // temporarily commented out
	}
}

#main,
#other {
	.row(12);
	margin-bottom: 1em;
}
#other {
	background:#00354D;
}
hr {
	border:none;
	background:black;
	height:1px;
	margin-top:1.5em;
}
a.more-link {
	display: block;
	text-decoration:none;
	width: auto;
	background: #CCC;
	margin-top:1em;
	padding-top: .65em;
	padding-bottom: .65em;
	text-align: center;
	color: white;
	.rounded-corners(4px);
}
a.more-link:hover {
	background:#B6B6B6;
}
/* Posts */
.post-entry {
	.column(12,12);
	background:#fff;
	/*background:#00354D;*/
	margin-bottom:20px;
	.edit-post {
		
	}
	a {
		color:#0491C9;
	}
	p {
		color:#222;
		/*color:#7FA0AF;*/
		font-size:0.875em; //14/16
		line-height:1.5em;
		margin-bottom:.5em;
		strong {
			font-weight:bold;
		}
	}
	h2 {
		font-family: "Adelle",serif;
		font-weight:400;
		font-size: 1.5em;
		color: #666;
		margin-bottom:.5em;
		a {
			color:black;
			/*color:#58CFF5;*/
			text-decoration:none;
			line-height:1.4em;
		}
	}
	img {
		width:100%;
		margin-bottom:1em;
	}
	.post-content {
	//	/*.row(12);*/	/* this was very, very bad */
		a {
			text-decoration:none;		
		}
	}
	.post-date, .meta {
		font-size:.75em;
		p {
			span {
				text-transform:uppercase;
			}
		}
	}
	.meta a {
		text-decoration:none;
	}
}
.post-entry {
	.rounded-corners(4px);
	.post-wrapper {
		padding:2em;
	}
}



///////////////
// WIDE SITE //
///////////////
@media screen and (min-width: 720px) {

/* main column & sidebar */
body {
	
	height:100%;
	#page-wrap {
		.column(12);
		width:100%;
		max-width:1200px;
		margin:0 auto;
		padding-top:.5em;
	}
}
html, body {
	background: none;
}
header#main-header {
		#splash {
		background:white;
		height:306px;
	}
}
#main {
	.column(8);
}
#other {
	.column(4);
}

/* Posts */
.post-entry {
	.column(8,8);
	margin-bottom:.5em;
	.post-wrapper {
		padding:2em;
	}
}
#other {
	min-height:500px;
}

#back-to-top-link, #nav-link {
	display:none;
}
#page-bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-10;
	background:url('../images/test-bg2.jpg') top center repeat-x;
} 
}
